In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
datos = sns.load_dataset('titanic')
datos

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [4]:
datos.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [5]:
datos.drop('embarked', axis=1, inplace=True)
datos.drop('class', axis=1, inplace=True)
datos.drop('who', axis=1, inplace=True)
datos.drop('deck', axis=1, inplace=True)
datos.drop('embark_town', axis=1, inplace=True)
datos.drop('alive', axis=1, inplace=True)
datos.drop('alone', axis=1, inplace=True)
datos

     survived  pclass     sex   age  sibsp  parch     fare  adult_male
0           0       3    male  22.0      1      0   7.2500        True
1           1       1  female  38.0      1      0  71.2833       False
2           1       3  female  26.0      0      0   7.9250       False
3           1       1  female  35.0      1      0  53.1000       False
4           0       3    male  35.0      0      0   8.0500        True
..        ...     ...     ...   ...    ...    ...      ...         ...
886         0       2    male  27.0      0      0  13.0000        True
887         1       1  female  19.0      0      0  30.0000       False
888         0       3  female   NaN      1      2  23.4500       False
889         1       1    male  26.0      0      0  30.0000        True
890         0       3    male  32.0      0      0   7.7500        True

[891 rows x 8 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder
codificador = LabelEncoder()
datos['sex'] = codificador.fit_transform(datos['sex'])

In [7]:
copiaDatos = datos.copy()

In [8]:
# dividir el conjunto en X (explicativas) y Y (respuesta)
y = datos['survived']
datos.drop('survived', axis=1, inplace=True)
datos

     pclass  sex   age  sibsp  parch     fare  adult_male
0         3    1  22.0      1      0   7.2500        True
1         1    0  38.0      1      0  71.2833       False
2         3    0  26.0      0      0   7.9250       False
3         1    0  35.0      1      0  53.1000       False
4         3    1  35.0      0      0   8.0500        True
..      ...  ...   ...    ...    ...      ...         ...
886       2    1  27.0      0      0  13.0000        True
887       1    0  19.0      0      0  30.0000       False
888       3    0   NaN      1      2  23.4500       False
889       1    1  26.0      0      0  30.0000        True
890       3    1  32.0      0      0   7.7500        True

[891 rows x 7 columns]

In [9]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pclass      891 non-null    int64
 1   sex         891 non-null    int32
 2   age         714 non-null    float64
 3   sibsp       891 non-null    int64
 4   parch       891 non-null    int64
 5   fare        891 non-null    float64
 6   adult_male  891 non-null    bool
dtypes: bool(1), float64(2), int32(1), int64(3)
memory usage: 39.3 KB

In [10]:
print(datos.isnull().sum())

pclass          0
sex             0
age           177
sibsp           0
parch           0
fare            0
adult_male      0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(datos, y, test_size = 0.3, random_state=17)

In [12]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [13]:
lr.fit(X_train, y_train)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

## Eliminar columnas con valores faltantes

In [14]:
datosActualizados = datos.dropna(axis=1)
datosActualizados

     pclass  sex  sibsp  parch     fare  adult_male
0         3    1      1      0   7.2500        True
1         1    0      1      0  71.2833       False
2         3    0      0      0   7.9250       False
3         1    0      1      0  53.1000       False
4         3    1      0      0   8.0500        True
..      ...  ...    ...    ...      ...         ...
886       2    1      0      0  13.0000        True
887       1    0      0      0  30.0000       False
888       3    0      1      2  23.4500       False
889       1    1      0      0  30.0000        True
890       3    1      0      0   7.7500        True

[891 rows x 6 columns]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(datosActualizados, y, test_size=0.3, random_state=17)
lr.fit(X_train, y_train)
pred = lr.predict(X_test)

In [16]:
pred

array([0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [17]:
from sklearn import metrics

In [18]:
print(metrics.accuracy_score(pred, y_test))

0.7947761194029851

## Rellenar datos faltante -inputar

imputar con:
 - **Media**: Promedio de las datos
 - **Mediana**: Valor central
 - **Moda**: El mas repetido (unimodal, bimodal, multimodal o no hay moda)

In [19]:
datosRelleno = copiaDatos.copy()
datosRelleno['age'] = datosRelleno['age'].fillna(datosRelleno['age'].mean())
datosRelleno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   sex         891 non-null    int32
 3   age         891 non-null    float64
 4   sibsp       891 non-null    int64
 5   parch       891 non-null    int64
 6   fare        891 non-null    float64
 7   adult_male  891 non-null    bool
dtypes: bool(1), float64(2), int32(1), int64(4)
memory usage: 46.2 KB

In [20]:
# Segmentar los grupo en entrenamiento y pruebas
y = datosRelleno['survived']
datosRelleno.drop('survived', axis=1, inplace=True)
X_train, X_test, Y_train, Y_test = train_test_split(datosRelleno, y, test_size=0.3, random_state=17)
lr.fit(X_train, Y_train)
pred = lr.predict(X_test)
print(metrics.accuracy_score(pred, Y_test))

0.8022388059701493

C:\Users\gamer\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Otras formas de imputatacion
- Interpolacion lineal
- Rellenar con el dato de lasiguiente fila
- Agregar una columna

In [21]:
imputados = copiaDatos.copy()
imputados['ageMissing'] = imputados['age'].isnull()
imputados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   sex         891 non-null    int32
 3   age         714 non-null    float64
 4   sibsp       891 non-null    int64
 5   parch       891 non-null    int64
 6   fare        891 non-null    float64
 7   adult_male  891 non-null    bool
 8   ageMissing  891 non-null    bool
dtypes: bool(2), float64(2), int32(1), int64(4)
memory usage: 47.1 KB

In [22]:
from sklearn.impute import SimpleImputer

In [23]:
# Segmentar los grupo en entrenamiento y pruebas
y = imputados['survived']
imputados.drop('survived', axis=1, inplace=True)

In [24]:
imputador = SimpleImputer(strategy='median')
nuevoDatos = imputador.fit_transform(imputados)
imputados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pclass      891 non-null    int64
 1   sex         891 non-null    int32
 2   age         714 non-null    float64
 3   sibsp       891 non-null    int64
 4   parch       891 non-null    int64
 5   fare        891 non-null    float64
 6   adult_male  891 non-null    bool
 7   ageMissing  891 non-null    bool
dtypes: bool(2), float64(2), int32(1), int64(3)
memory usage: 40.2 KB

In [25]:
nuevoDatos

array([[ 3.    ,  1.    , 22.    , ...,  7.25  ,  1.    ,  0.    ],
       [ 1.    ,  0.    , 38.    , ..., 71.2833,  0.    ,  0.    ],
       [ 3.    ,  0.    , 26.    , ...,  7.925 ,  0.    ,  0.    ],
       ...,
       [ 3.    ,  0.    , 28.    , ..., 23.45  ,  0.    ,  1.    ],
       [ 1.    ,  1.    , 26.    , ..., 30.    ,  1.    ,  0.    ],
       [ 3.    ,  1.    , 32.    , ...,  7.75  ,  1.    ,  0.    ]])

In [26]:
columnas = imputados.columns
imputados = pd.DataFrame(nuevoDatos, columns=columnas)
imputados

     pclass  sex   age  sibsp  parch     fare  adult_male  ageMissing
0       3.0  1.0  22.0    1.0    0.0   7.2500         1.0         0.0
1       1.0  0.0  38.0    1.0    0.0  71.2833         0.0         0.0
2       3.0  0.0  26.0    0.0    0.0   7.9250         0.0         0.0
3       1.0  0.0  35.0    1.0    0.0  53.1000         0.0         0.0
4       3.0  1.0  35.0    0.0    0.0   8.0500         1.0         0.0
..      ...  ...   ...    ...    ...      ...         ...         ...
886     2.0  1.0  27.0    0.0    0.0  13.0000         1.0         0.0
887     1.0  0.0  19.0    0.0    0.0  30.0000         0.0         0.0
888     3.0  0.0  28.0    1.0    2.0  23.4500         0.0         1.0
889     1.0  1.0  26.0    0.0    0.0  30.0000         1.0         0.0
890     3.0  1.0  32.0    0.0    0.0   7.7500         1.0         0.0

[891 rows x 8 columns]

In [27]:
# Segmentar los grupo en entrenamiento y pruebas
X_train, X_test, Y_train, Y_test = train_test_split(imputados, y, test_size=0.3, random_state=17)
lr.fit(X_train, Y_train)
pred = lr.predict(X_test)
print(metrics.accuracy_score(pred, Y_test))

0.7985074626865671

C:\Users\gamer\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
testDatos = copiaDatos[copiaDatos['age'].isnull() == True]
trainDatos = copiaDatos[copiaDatos['age'].isnull() == False]

y = trainDatos['age']
trainDatos.drop('age', axis=1, inplace=True)
lr = LinearRegression()
lr.fit(trainDatos, y)

testDatos.drop('age', axis=1, inplace=True)
estimada = lr.predict(testDatos)
testDatos['age'] = estimada
testDatos

C:\Users\gamer\AppData\Local\Temp\ipykernel_17636\196411119.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDatos.drop('age', axis=1, inplace=True)
C:\Users\gamer\AppData\Local\Temp\ipykernel_17636\196411119.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDatos.drop('age', axis=1, inplace=True)
C:\Users\gamer\AppData\Local\Temp\ipykernel_17636\196411119.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDatos['age'] = estimada

     survived  pclass  sex  sibsp  parch     fare  adult_male        age
5           0       3    1      0      0   8.4583        True  29.476149
17          1       2    1      0      0  13.0000        True  33.078578
19          1       3    0      0      0   7.2250       False  21.852713
26          0       3    1      0      0   7.2250        True  29.500071
28          1       3    0      0      0   7.8792       False  21.840024
..        ...     ...  ...    ...    ...      ...         ...        ...
859         0       3    1      0      0   7.2292        True  29.499990
863         0       3    0      8      2  69.5500       False  10.208523
868         0       3    1      0      0   9.5000        True  29.455943
878         0       3    1      0      0   7.8958        True  29.487060
888         0       3    0      1      2  23.4500       False  23.823630

[177 rows x 8 columns]

In [30]:
trainDatos['age'] = y
trainDatos

C:\Users\gamer\AppData\Local\Temp\ipykernel_17636\853407795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDatos['age'] = y

     survived  pclass  sex  sibsp  parch     fare  adult_male   age
0           0       3    1      1      0   7.2500        True  22.0
1           1       1    0      1      0  71.2833       False  38.0
2           1       3    0      0      0   7.9250       False  26.0
3           1       1    0      1      0  53.1000       False  35.0
4           0       3    1      0      0   8.0500        True  35.0
..        ...     ...  ...    ...    ...      ...         ...   ...
885         0       3    0      0      5  29.1250       False  39.0
886         0       2    1      0      0  13.0000        True  27.0
887         1       1    0      0      0  30.0000       False  19.0
889         1       1    1      0      0  30.0000        True  26.0
890         0       3    1      0      0   7.7500        True  32.0

[714 rows x 8 columns]

In [31]:
y = trainDatos['survived']
trainDatos.drop('survived', axis=1, inplace=True)
lr = LogisticRegression()
lr.fit(trainDatos, y)

C:\Users\gamer\AppData\Local\Temp\ipykernel_17636\4082536858.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDatos.drop('survived', axis=1, inplace=True)
C:\Users\gamer\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [32]:
y_test = testDatos['survived']
testDatos.drop('survived', axis=1, inplace=True)
predict = lr.predict(testDatos)

C:\Users\gamer\AppData\Local\Temp\ipykernel_17636\3618414121.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDatos.drop('survived', axis=1, inplace=True)

In [33]:
metrics.accuracy_score(predict, y_test)

0.8361581920903954